<div *ngIf="show">
<chart [type]="type" [data]="data" [options]="options" id="chartshow"></chart>

<div>Timeline</div>

<div class="checkbox" (click)="getData(hourly)" style="color:#60C1F7">
    <div class="">
      <input type="checkbox" aria-label="Checkbox for following text input">
    </div>
    <label style="color:#60C1F7">Hourly</label>
</div>
<div class="checkbox" (click)="getData(weekly)" disabled>

    <div class="">
      <input type="checkbox" aria-label="Checkbox for following text input" disabled>
    </div>

    <label style="color:gray">Weekly</label>
</div>
<div class="checkbox" (click)="getData(monthly)" disabled>
  
    <div class="">
      <input type="checkbox" aria-label="Checkbox for following text input" disabled>
    </div>

    <label style="color:gray">Monthly</label>
</div>
</div>