.cb-health{
    display: flex;
    flex-flow: column;
    height: 105px;
    margin-top: 11px;
    background: gray;
    /*background: #FFB617;
    border-top: 5px solid #ff6600;*/
}

.cb-health.Warning{
    background: #FFB617;
    border-top: 5px solid #ff6600;
}

.cb-health.Normal{
    background: #6E27C5;
    border-top: 5px solid #01C1D6;
}

.cb-health.Critical{
    background: #FF0000;
    border-top: 5px solid #ff6600;
}

.circle{
    height: 45px;
    width: 45px;
    margin-left:2px;
    background-color: white;
    border-radius: 50%;
    position: sticky;
    border: 5px solid #01C1D6;
}

.circle.Normal{
    border: 5px solid #01C1D6;
}

.circle.Warning{
    border: 5px solid #ff6600;
}

.circle.Critical{
    border: 5px solid #ff6600;
}

.cb-health-icon{
    display: flex;
    justify-content: flex-start;
    position: relative;
    top: -16px;
    margin-left: 6px;
}
.cb-health-txt{
    font-size: 23px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    margin-top: -30px;
}
.cb-health-val{
    font-size: 36px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    margin-top: 11px;
}

.cb-health-msg{
    font-size: 16px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 22px;
    margin-top: 11px;
}
.cb-content{
    padding: 10px;
    background: #F6F7F7;
    display: flex;
    flex-flow: column;
}

.cb-content > div{
    background: #FFFFFF;
    border: 1px solid #E0E0E0;
}
.cb-cntnt-opt > div > label{
    margin-right: 15px;
}
.cb-cntnt,.cb-hdr{
    background: #FFFFFF;
}
.cb-hdr{
    padding: 21px;
    font-family: ChubbPublico-Light;
    font-size: 23px;
    color: #4B4E52;
}

.cb-cntnt-opt{
    padding: 21px;
    display: flex;
    flex-flow: row nowrap
}

.cb-cntnt-opt > div, img{
    display: flex;
    margin: 0px 5px;
}

.cb-switch{
    display: flex;
    flex-flow: row nowrap;
    cursor: pointer;
}

.cb-cntnt-q{
    height: 46px;
    width: 214px;
    background: #6E27C5;
    border: 1px solid #6E27C5;
    display: flex;
    margin-left: 21px;
    justify-content: space-around;
    flex-flow: row nowrap;
}
.cb-cntnt-q {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
.cb-cntnt-q > label,span{
    font-family: ChubbPublico-Light;
    font-size: 23px;
    color: #FFFFFF;
}