<div class="cb-health">
  <div class="cb-health-icon">
    <img src="../assets/HackAssets/Group 11.svg">
  </div>

  <div class="cb-health-txt">App Health:</div>
  <div class="cb-health-val">{{health}}</div>
</div>
<div class="cb-content">
  <div class="cb-options">
    <div class="cb-hdr" (click)="onOptionsClick()">
      <label>Options</label>
    </div>
    <div *ngIf="showOptions" class="cb-cntnt-opt">
      <img src="../../assets/HackAssets/water-drop.svg">
      <div>
        <label> Water Valve</label>
        <div *ngIf="!deviceOn">
          OFF <img>
        </div>
        <div *ngIf="deviceOn">
          ON <img>
        </div>
      </div>

    </div>
  </div>
  <div class="cb-sys-status">
    <div class="cb-hdr" (click)="onOSysStatusClick()">
      <label>System Status</label>
    </div>
    <div *ngIf="showSysStatus" class="cb-cntnt">
      Status
    </div>
  </div>
  <div class="cb-fnol">
    <div class="cb-hdr" (click)="onFNOLClick()">
      <label>FNOL</label>
    </div>
    <div *ngIf="showFNOL" class="cb-cntnt">
      FNOL
    </div>
  </div>
  <div class="cb-questions" (click)="onQuestionsClick()">
    <div class="cb-hdr">
      <label>Questions?</label>
    </div>
    <div *ngIf="showQuestions" class="cb-cntnt">
      questions?
    </div>
  </div>
</div>