<div class="cb-app-health" [ngClass]="health" (click)="toggleHealth()">
    <fa-icon [icon]="icon" (click)="getDeviceDetails()"></fa-icon>APP HEALTH - {{ health }}
</div>
<ng-container *ngIf="show">
    <div class="jumbotron m-0 row" *ngFor="let item of devicesArr">
        <div class="cb-device btn btn-info text-left col-xs-6"> {{ item }} </div>
        <div class="cb-commands col-xs-6 row m-0 p-0">
            <div class="cb-device-cmd" [ngStyle]="{'color': deviceCmdIcon === faToggleOn? 'green': 'red'}">
                <div (click)="onDeviceCommand()">
                    <fa-icon [icon]="deviceCmdIcon"></fa-icon>
                </div>
                <!-- <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Commands
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#" (click)="switchOn(item)">ON</a>
                    <a class="dropdown-item" href="#" (click)="switchOff(item)">OFF</a>
                </div> -->
            </div>
            <div class="cb-graph-btn">
                <button type="button" class="btn btn-secondary" (click)='showGraph(item)'>RETRIEVE DATA</button>
            </div>
            <div class="cb-fnol-btn">
                <button type="button" class="btn btn-primary" *ngIf="health === 'Critical'">FNOL</button>
            </div>
        </div>
    </div>
    <chart [type]="type" [data]="data" [options]="options" *ngIf="showData"></chart>
</ng-container>