.Critical{
    width:100%;
    color:red;
    background-color:pink;
}

.Warning{
    width:100%;
    color:orange;
    background-color:orangered;
}

.Normal{
    width:100%;
    color:greenyellow;
    background-color:green;
}

.cb-app-health{
    display: flex;
}

.cb-app-health > fa-icon{
    margin: 0px 10px 0px 10px;
}
.cb-device-cmd {
    font-size: 25px;
    margin: 0px 5px;
}